#
buildargs.yml

# ignore des submodules des autres branches [WIP]
docs/

#
apt.conf
#
.gitconfig

#
dockerfile.fail
#
docker_makefiles/
#
_docker_make_tmp/

# Volumes Docker utilisés par les applications (QtCreator, Sublime, ...)
.volumes/

#
venv/